*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
.idea

# example files
/examplekt/google-services.json
/examplekt/src/main/assets/
/examplekt/src/main/jniLibs/
/examplekt/gradle.properties

# vouched files
vouched/libs/
vouched/gradle/
vouched/gradlew
vouched/gradlew.bat
vouched/local.properties

deploy.properties

